footer {
    color: #f0f0f0;
    background-color: #110033;
    padding: 1rem;
    margin: 0;
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    max-width: 100%;
    margin: auto;
}

.footer_container .footer_title {
    width: 20%;
    max-width: 100%;
}

.footer_container .footer_nav {
    width: 80%;
}

.footer_container .footer_nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}

.footer_container .footer_nav li {
    padding: 0.5rem;
}

.footer_container .footer_nav a {
    color: #f0f0f0;
}